.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2px;
  width: 42px;
  height: 24px;
  border: 1.5px solid #000;
  border-radius: 30px;    
  cursor: pointer;
}

.icon{
  font-size: 12px;
}

.ball{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #FBCA1F;
  border-radius: 50%;  
}