.container {
  display: flex;
  align-items: center;
  min-height: 65vh;
  gap: 10px;
  
}

.item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}

.title {
  font-size: 72px;    
}


.desc {
  font-size: 24px;
  font-weight: 300;
}

@media(max-width: 1024px){
  .title{
    font-size: 50px;
  }
  .desc{
    font-size: 20px;
  }
}
@media(max-width: 810px){
  .container{
   flex-direction: column;
  }
  .item {
    align-items: center;
    width: 100%;
  }
  .imageContainer{
    display: none;
  }
}
